<form align="center">
    <div class="form-group">
        <h1>Vehicle category</h1>
        <input class="form-control" type="radio" name="inlineRadioOptions" id="Passenger" value="option1">
        <label class="form-check-label" for="Passenger">Passenger</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-control" type="radio" name="inlineRadioOptions" id="Logistics" value="option2">
        <label class="form-check-label" for="Logistics">Logistics</label>
      </div>
      <h1>Vehicle Type</h1>
      <div class="form-group">
        <label for="exampleFormControlSelect2"></label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
          <option>Cab</option>
          <option>Traveller</option>
          <option>Truck</option>
          <option>Tralier</option>
        </select>
    </div>
    <h1>Vehicle Brand</h1>
    <div class="form-group">
      <label for="exampleFormControlSelect2"></label>
      <select multiple class="form-control" id="exampleFormControlSelect2">
        <option>Maruti</option>
        <option>Benz</option>
        <option>Mahindra</option>
        <option>Tata</option>
        <option>Honda</option>
        <option>Ashok Leyland</option>
      </select>
    </div>
      <h1>Vehicle Model</h1>
    <div class="form-group">
      <label for="exampleFormControlSelect2"></label>
      <select multiple class="form-control" id="exampleFormControlSelect2">
        <option>Indica</option>
        <option>GLA</option>
        <option>Bolero</option>
        <option>Signa</option>
        <option>BR-V</option>
        <option>AVTR</option>
      </select>
    </div>
    <h1>Registraion Number</h1>
    <div class="form-group">
    <label for="RegistratonNumber"></label>
    <input id="RegistraionNumber" name="RegistraionNumber" [(ngModel)]="RegistrationNumber" required type="text" 
              class="form-control" #RegistrationNumberControl>
  </div>
  <h1>Status</h1>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="Available">
    <label class="form-check-label" for="Available">
      Available
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="Booked" disabled>
    <label class="form-check-label" for="Booked">
      Booked
    </label>
  </div>
  <button onclick="Reserved">Submit</button>
</form>
